In [1]:
import pandas as pd

In [2]:
#importing test users csv
test_user=pd.read_csv('/Users/hlind/Downloads/airbnb_test_users.csv')

In [3]:
#importing sample submission csv
sample_submission=pd.read_csv('/Users/hlind/Downloads/airbnb_sample_submission.csv')

In [4]:
#importing users csv
bnb_users=pd.read_csv('/Users/hlind/Downloads/airbnb_users.csv')

In [5]:
#checking data for each csv
test_user.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser
0,5uwns89zht,7/1/2014,2.014070e+13,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
1,jtl0dijy2j,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari
2,xx0ulgorjt,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome
3,6c6puo6ix0,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE
4,czqhjk3yfe,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari

In [6]:
sample_submission.head()

           id country
0  5uwns89zht     NDF
1  jtl0dijy2j     NDF
2  xx0ulgorjt     NDF
3  6c6puo6ix0     NDF
4  czqhjk3yfe     NDF

In [7]:
bnb_users.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,gxn3p5htnn,6/28/2010,2.009030e+13,NaN,-unknown-,NaN,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,NDF
1,820tgsjxq7,5/25/2011,2.009050e+13,NaN,MALE,38.0,facebook,0,en,seo,google,untracked,Web,Mac Desktop,Chrome,NDF
2,4ft3gnwmtx,9/28/2010,2.009060e+13,8/2/2010,FEMALE,56.0,basic,3,en,direct,direct,untracked,Web,Windows Desktop,IE,US
3,bjjt8pjhuk,12/5/2011,2.009100e+13,9/8/2012,FEMALE,42.0,facebook,0,en,direct,direct,untracked,Web,Mac Desktop,Firefox,other
4,87mebub9p4,9/14/2010,2.009120e+13,2/18/2010,-unknown-,41.0,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Chrome,US

In [8]:
#average age of each browser used
test_user.groupby('first_browser')['age'].mean()

first_browser
-unknown-             41.526894
AOL Explorer          60.000000
Android Browser       42.822148
Apple Mail            26.750000
BlackBerry Browser    34.600000
Chrome                34.591678
Chrome Mobile         45.199058
Chromium              28.833333
CometBird             30.000000
Firefox               37.748143
IBrowse               51.000000
IE                    42.463107
IE Mobile             32.312500
IceWeasel             18.000000
Iron                  35.200000
Maxthon               31.000000
Mobile Firefox        31.800000
Mobile Safari         35.098486
Nintendo Browser            NaN
Opera                 38.444444
Opera Mini                  NaN
Opera Mobile          37.000000
Pale Moon             37.000000
Safari                36.416121
SeaMonkey                   NaN
Silk                  38.120000
SiteKiosk             57.000000
Sogou Explorer        28.000000
UC Browser            28.000000
Yandex.Browser        38.500000
wOSBrowser                  NaN
Name: age, dtype: float64

In [9]:
#total signup flow
test_user.groupby('first_device_type')['signup_flow'].sum()

first_device_type
Android Phone          90521
Android Tablet          5969
Desktop (Other)           50
Mac Desktop             5736
Other/Unknown           4826
SmartPhone (Other)         0
Windows Desktop         3866
iPad                   28900
iPhone                345343
Name: signup_flow, dtype: int64

In [10]:
#merging test user csv and sample submission csv to obtain country info
bnbData=pd.merge(test_user, sample_submission, on='id')

In [13]:
bnbData.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country
0,5uwns89zht,7/1/2014,2.014070e+13,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
1,jtl0dijy2j,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
2,xx0ulgorjt,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
3,6c6puo6ix0,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE,NDF
4,czqhjk3yfe,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari,NDF

In [14]:
#renaming columns to allow appending
bnbData.rename(columns={'country':'country_destination'}, inplace=True)

In [15]:
bnbData.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,5uwns89zht,7/1/2014,2.014070e+13,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
1,jtl0dijy2j,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
2,xx0ulgorjt,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
3,6c6puo6ix0,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE,NDF
4,czqhjk3yfe,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari,NDF

In [16]:
#appending bnbData with bnb_users
bnbAll=pd.concat(bnbData, bnb_Users, ignore_index=True)

NameError: name 'bnb_Users' is not defined

In [17]:
bnbAll=pd.concat([bnbData, bnb_users], ignore_index=True)

In [18]:
bnbAll.head()

,id,date_account_created,timestamp_first_active,date_first_booking,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,signup_app,first_device_type,first_browser,country_destination
0,5uwns89zht,7/1/2014,2.014070e+13,NaN,FEMALE,35.0,facebook,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
1,jtl0dijy2j,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Moweb,iPhone,Mobile Safari,NDF
2,xx0ulgorjt,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,Chrome,NDF
3,6c6puo6ix0,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,linked,Web,Windows Desktop,IE,NDF
4,czqhjk3yfe,7/1/2014,2.014070e+13,NaN,-unknown-,NaN,basic,0,en,direct,direct,untracked,Web,Mac Desktop,Safari,NDF

In [21]:
bnbAll.columns

Index(['id', 'date_account_created', 'timestamp_first_active',
       'date_first_booking', 'gender', 'age', 'signup_method', 'signup_flow',
       'language', 'affiliate_channel', 'affiliate_provider',
       'first_affiliate_tracked', 'signup_app', 'first_device_type',
       'first_browser', 'country_destination'],
      dtype='object')