# to see if shade of lipstick and price category are related

In [1]:
# import packages
import pandas as pd
from scipy import stats

# import data

In [2]:
lips=pd.read_csv('/Users/hlind/Downloads/lead_lipstick.csv')

In [3]:
lips.head()

  JRC_code purchCntry prodCntry    Pb  sdPb shade prodType  priceCatgry
0     C135         NL        NL  3.75  0.24   Red       LP            2
1      C18         FI        FI  2.29  0.07   Red       LP            2
2      C20         FI        IT  1.27  0.06   Red       LP            2
3     C164         DE        FR  1.21  0.06   Red       LP            2
4      C71         MT        UK  0.85  0.04   Red       LP            2

# contingency table

In [4]:
lips_cross=pd.crosstab(lips['shade'], lips['priceCatgry'])

In [5]:
lips_cross

priceCatgry   1   2   3
shade
Brown        20  30  10
Pink         20  49  12
Purple        8  23   6
Red           5  33   7

# chi-square

In [6]:
stats.chi2_contingency(lips_cross)

Chi2ContingencyResult(statistic=7.860569553614045, pvalue=0.2484973879479863, dof=6, expected_freq=array([[14.26008969, 36.32286996,  9.41704036],
       [19.25112108, 49.03587444, 12.71300448],
       [ 8.79372197, 22.39910314,  5.80717489],
       [10.69506726, 27.24215247,  7.06278027]]))

In [7]:
# array values are >5